body {background-color: rgb(179, 182, 185);}

h2{margin-top: 0px;
    margin-bottom: 0px;}

#cal{position: absolute;
    left: 200px;
    top: 300px;
    width: 110px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight:bold;}

.box{width: 100px;
    position: absolute ;
    left: 200px;
    text-align: right;
    font-weight:bold ;}
